
@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/css/login.css" rel="stylesheet" />
    <title>Iniciar Sesión</title>
</head>
<body>
    <form asp-controller="Content" asp-action="Index">
        <h2>Iniciar Sesión</h2>

        <div class"">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="NameUser" required />
        </div>

        <div class"">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="PasswordUser" required />
        </div>

        <div>
            <button type="submit">Iniciar Sesión</button>
        </div>
    </form>

    <p>¿Todavía no tienes una cuenta? <a asp-controller="Auth" asp-action="Register">Registrate aquí</a>.</p>

</body>
</html>

