
@{
    ViewData["Title"] = "Login Page";
}

<!-- Login.cshtml -->
<!DOCTYPE html>

<html>
<head>

    <link href="~/css/login.css" rel="stylesheet" />
    <title>Iniciar Sesión</title>
</head>
<body>
    <form asp-action="Login">
        <h2>Iniciar Sesión</h2>

        <div class"">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="NameUser" required />
        </div>

        <div class"">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="PasswordUser" required />
        </div>

        <div>
            <button type="submit">Iniciar Sesión</button>
        </div>
    </form>

    <a class="btn btn-dark mt-5" asp-controller="Auth" asp-action="Register"> Registrarse </a>
</body>
</html>

