@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <a class="btn btn-dark mt-5" asp-controller="Auth" asp-action="Login"> Iniciar Sesión </a>
    <a class="btn btn-dark mt-5" asp-controller="Auth" asp-action="Register"> Registrarse </a>
    <a class="btn btn-dark mt-5" asp-controller="Content" asp-action="Index"> Contenido AudioVisual </a>



</div>
